/*
 * #%L
 * T3 :: Web
 * %%
 * Copyright (C) 2010 - 2018 IRD, Code Lutin, Ultreia.io
 * %%
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * #L%
 */
* {
    font-family: sans-serif;
}

.fontsize11 {
font-size: 11px;
}

.ui-tabs-panel pre {
    font-family: monospace;
    font-size: 9pt;
}

#body {
    /*min-height: 500px;*/
    float: left;
    /*left: 275px;*/
    padding: 10px;
    width: 99%;
}

#footer {
    /*margin-top: 120px;*/
    clear: both;
    text-align: center;
}

.displayBlock {
    display:block;
}

.floatLeft {
    float:left;
}

.floatRight {
    float:right;
}

.info_success {
    background: no-repeat scroll 8px 5px #DFFFDF;
    border: 2px solid #9FCF9F;
	width: 800px;
	margin-bottom: 5px;
}
.info_success ul{
	margin: 5px;
	padding-left: 5px;
}
.info_success li{
    background: url("../images/true.png") no-repeat ;
	list-style: none; 
	font-style: italic;
	padding-left: 25px;
    color: #005F00;
    margin-left:0;
}

.info_error {
    background: no-repeat scroll 8px 5px #FFE3E3;
    border: 2px solid #DD0000;
	/*width: 1000px;*/
	margin-bottom: 5px;
}
.info_error ul{
	margin: 5px;
	padding-left: 5px;
}
.info_error li{
    background: url("../images/exclamation.png") no-repeat ;
	list-style: none;
	font-style: italic;
	padding-left: 25px;
    color: #880000;
    margin-left:0px;
}

.errorMessage li{
    background: url("../images/exclamation.png") no-repeat ;
	list-style: none;
	font-style: italic;
	padding-left: 25px;
    color: #880000;
    margin-left:0px;
}

.verticalAlignTop {
    vertical-align: top;
}
fieldset, hr , .cleanBoth{
    clear: both
}

.formSeparator {
    float: left;
    clear: both;
    padding-top: 0.3em;
}


.wwgrp{
    float: left;
    clear: both;
    margin-bottom: 10px;
}

.wwlbl {
    float: left;
    clear: both;
    width: 450px;
/*#    text-align: right;*/
}
.wwctrl {
    float: left;
}

.wwerr {
    clear: both;
    float: left;
}

div.errorMessage{
    clear: both;
    float: left;
}

.actions input[type=submit] {
    margin-left:5px;
}
.actions {
    clear: both;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}
.errorMessage {
    background: url("../images/exclamation.png") no-repeat ;
	list-style: none;
	font-style: italic;
	padding-left: 25px;
    color: #880000;
    margin-left:0px;
}

.required {
    color: #880000;
	font-style: italic;
}

.clearfix {
    display: inline-block;
}

/* Hide from IE Mac \*/
.clearfix {
    display: block;
}

#footer {
    /*background: url(../images/footer.png) repeat-x;*/
    /*height: 45px;*/
    /*padding: 10px 20px 15px 20px;*/
    /*margin: 30px 0;*/
    position: relative;
    /*text-transform: uppercase;*/
    text-align:center;
    /*color: #fff;*/
    /*font-size: 140%;*/
}

#footer ul {
    width: 1000px;
    margin: 0 auto;
}

div#headerRight {
    float:right;
}

div#headerRight div {
    float: right;
}

#headerRight ul {
    display:inline;
    line-height: 20px;
    padding: 0 5px;
}

#headerRight li {
    display:inline;
    padding: 0 5px;
}

#footer ul li {
    display:inline;
    list-style: none;
    margin: 0 10px;
    line-height: 30px;
    padding: 0 5px;
}

#footer ul li a {
    /*color: #fff;*/
    text-decoration: none;
}

#footer ul li a:hover {
    /*color: #ffe600;*/
}

.hide {
    display: none;
}
